.black{
    background-color: black;
    height: 50px; 
    color: gray;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}
.main{
    width: 700px;
    margin: 50px auto 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
}

p{
    margin: 0;
    font-size: 35px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-right: 530px;
}

.addtasks{
    gap: 35px;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: 80px;

}

#tasklist{
    width: 700px;
    display: flex;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    gap: 10px;
    margin-top: 10px;
    flex-direction: column;
}
.tasks{
    display: grid;
    grid-template-columns: 24px minmax(0, 1fr) 40px;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    border-bottom: 1px solid #e6e6e6;
}

.tasks span{
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    color: #333;
}
.tasks:last-child{
    border-bottom: none;
}

button{
    color: #fff;
    background-color: #4fa3ff;
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 4px;
    padding: 0;

}
#taskinput{
  height: 30px;
  border-radius: 4px;
  border: 2px solid silver;
  width: 550px;
  margin-left: 0;  
}
input[type="checkbox"]{
  margin: 0;
  width: 18px;
  height: 18px;
}
.tasks button{
  background: transparent; 
  border: none;
  width: 32px;
  height: 32px;
  padding: 0;
  justify-self: end;
}

.tasks button img{
  width: 100%;
  height: 100%;
  display: block;
}
