.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 12px;
}
img {
  width: 100%;
  display: block;
}
h2{
  color: cornflowerblue;
}
button{
  text-decoration: none;
  color: cornflowerblue;
  padding: 4px 9px;
}
button:hover{
  color: steelblue;
}