h2{
    font-weight: 800;
    color: #1877f2;
    text-align: left;
    font-size: 56px;
    margin: 0;
    padding-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 60px;
}
.full{
    background-color:whitesmoke;
    text-align: center;
    width: 1470px;
    height:600px ;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    padding: 70px 0  ;
}
p{
    text-align: left;
    font-size: 20px;
    padding-left: 60px;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    margin: 0;
}
.enter{
    background-color: white;
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    width: 320px;
    box-shadow: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0 4px 12px silver;
    margin-top: 120px;
}
.left{
    max-width: 420px;
}
#first{
    background-color: #1877f2;
    color: white;
    border-radius: 4px;
    width: 320px;
    height: 48px;
    font-size: 18px;
    margin: 12px 0 auto;
    font-weight: bold;
    
    
}
#second{
    background-color: rgb(37,186,7);
    color: white;
    width: 210px;
    height: 40px;
    text-align: center;
    display: block;
    margin: 12px auto 0 ;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}
a{
    color: #1877f2;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    font-weight: 200;
}
a:hover{
    text-decoration: underline;
}
#ff{
    text-align: center;
}
hr{
    border: 0;
    height:  1px;
    background-color: silver;
    margin: 8px 0 ;
}
input{
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ff{
    margin-top: 12px;
    font-size: 13px;
    text-align: center;
    padding-left: 0;
}
button{
    border: none;
    outline: none;
}
.footerr{
    text-align: center;
    margin-top: 40px;
    font-size: 6px;
    color: #8a8d91;
}   
.langs{
    margin-bottom: 12px;
    font-size: 15px;
}
.links{
    margin: 6px 0 ;
    font-size: 15px;
}
.copy{
    margin-top: 12px;
    font-size: 15px;
}