body{
    background-color: antiquewhite;
}
h1{
    color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
p{
    color: blue;
    border: 2px solid pink;
    padding: 30px;
    margin: 50px;
}