<div class="layout">
  <aside class="sidebar">
    <div class="side-title">Все категории <span>(23073)</span></div>

    <details class="side-section" open>
      <summary class="side-summary">
        <span class="chev">▾</span>
        <span class="side-main">Продукты питания</span>
        <span class="count">(23073)</span>
      </summary>
      <div class="side-list">
        <div class="side-item"><span class="play">▶</span>Молочные продукты, яйца <span class="count">(246)</span></div>
        <div class="side-item"><span class="play">▶</span>Овощи, фрукты, ягоды, грибы <span class="count">(115)</span></div>
        <div class="side-item"><span class="play">▶</span>Сладости и выпечка <span class="count">(3630)</span></div>
        <div class="side-item"><span class="play">▶</span>Крупы, хлопья, макароны <span class="count">(563)</span></div>
        <div class="side-item"><span class="play">▶</span>Соки, вода, напитки <span class="count">(792)</span></div>
        <div class="side-item"><span class="play">▶</span>Масла, соусы <span class="count">(617)</span></div>
        <div class="side-item"><span class="play">▶</span>Консервация <span class="count">(764)</span></div>
        <div class="side-item"><span class="play">▶</span>Сахар и заменители, соль, специи <span class="count">(1160)</span></div>
        <div class="side-item"><span class="play">▶</span>Чипсы, орехи, снеки <span class="count">(1708)</span></div>
        <div class="side-item"><span class="play">▶</span>Мясо и птица <span class="count">(150)</span></div>
        <div class="side-item"><span class="play">▶</span>Колбасы, сосиски, деликатесы <span class="count">(122)</span></div>
        <div class="side-item"><span class="play">▶</span>Чай, кофе, какао <span class="count">(4370)</span></div>
      </div>
    </details>

    <details class="side-section" open>
      <summary class="side-summary">Цена</summary>
      <div class="check-list">
        <label><input type="checkbox"> до 10 000 ₸ <span class="count">(16371)</span></label>
        <label><input type="checkbox"> 10 000 - 49 999 ₸ <span class="count">(5602)</span></label>
        <label><input type="checkbox"> 50 000 - 99 999 ₸ <span class="count">(659)</span></label>
        <label><input type="checkbox"> 100 000 - 149 999 ₸ <span class="count">(144)</span></label>
        <label><input type="checkbox"> 150 000 - 199 999 ₸ <span class="count">(79)</span></label>
        <label><input type="checkbox"> 200 000 - 499 999 ₸ <span class="count">(137)</span></label>
        <label><input type="checkbox"> более 500 000 ₸ <span class="count">(72)</span></label>
      </div>
    </details>

    <details class="side-section" open>
      <summary class="side-summary">Бренд</summary>
      <div class="check-list">
        <label><input type="checkbox"> Coca‑Cola <span class="count">(13)</span></label>
        <label><input type="checkbox"> MAGNUM <span class="count">(2)</span></label>
        <label><input type="checkbox"> Milka <span class="count">(48)</span></label>
        <label><input type="checkbox"> Джинн <span class="count">(2)</span></label>
        <label><input type="checkbox"> Казахстан <span class="count">(4)</span></label>
        <label><input type="checkbox"> Яшкино <span class="count">(71)</span></label>
      </div>
      <button class="show-more">Показать еще</button>
    </details>

    <details class="side-section" open>
      <summary class="side-summary">Продавцы</summary>
      <div class="check-list">
        <label><input type="checkbox"> COFFEELOVER <span class="count">(197)</span></label>
        <label><input type="checkbox"> Coffeemag‑kz <span class="count">(1459)</span></label>
        <label><input type="checkbox"> Mfood kz <span class="count">(1475)</span></label>
      </div>
      <button class="show-more">Показать еще</button>
    </details>

    <details class="side-section" open>
      <summary class="side-summary">Упаковка</summary>
      <div class="check-list">
        <label><input type="checkbox"> банка металлическая <span class="count">(540)</span></label>
        <label><input type="checkbox"> банка стеклянная <span class="count">(614)</span></label>
        <label><input type="checkbox"> дой‑пак <span class="count">(1850)</span></label>
        <label><input type="checkbox"> коробка картонная <span class="count">(3541)</span></label>
        <label><input type="checkbox"> флоу‑пак <span class="count">(2710)</span></label>
      </div>
      <button class="show-more">Показать еще</button>
    </details>

    <details class="side-section" open>
      <summary class="side-summary">Страна</summary>
      <div class="check-list">
        <label><input type="checkbox"> Германия <span class="count">(610)</span></label>
        <label><input type="checkbox"> Испания <span class="count">(678)</span></label>
        <label><input type="checkbox"> Италия <span class="count">(2154)</span></label>
        <label><input type="checkbox"> Казахстан <span class="count">(3400)</span></label>
        <label><input type="checkbox"> Франция <span class="count">(1422)</span></label>
      </div>
      <button class="show-more">Показать еще</button>
    </details>
  </aside>

  <section class="content">
    <div class="content-top">
      <div class="breadcrumbs"><span id="kas">Kaspi Магазин</span> <span id="productt"> → Продукты питания в Алматы</span></div>
    </div>
    <div class="toolbar">
        <select class="sort-select">
          <option selected>Популярные</option>
          <option>Сначала дешевле</option>
          <option>Сначала дороже</option>
          <option>По рейтингу</option>
        </select>
      </div>

    <div class="grid">
      <app-product-card
        *ngFor="let p of products"
        [name]="p.name"
        [rating]="p.rating"
        [stars]="p.stars"
        [reviews]="p.reviews"
        [price]="p.price"
        [installment]="p.installment"
        [installmentCount]="p.installmentCount"
        [badge]="p.badge"
        [image]="p.image"
        [link]="p.link">
      </app-product-card>
    </div>
  </section>
</div>
