body {
    background-color: white;
    font-family: sans-serif;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.left_elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin-top: 50px;
}

.right_elements {
    max-width: 600px;
    width: 100%;
    border-left: 2px solid rgb(228, 228, 228);
}

.main_logo {
    padding-left: 50px;
}

.main_text {
    width: 560px;
    padding: 0px 100px 0px 120px;
}

.main_text h2 {
    text-align: center;
    font-size: 40px;
    line-height: 1.5em;
    font-weight: normal;
    margin: 0 auto;
    font-family: Instagram Sans Regular;
}

.main_img {
    padding: 0px 100px 0px 150px;
}

.form_block {
    margin: 140px 0 100px 0;
    padding: 0 40px 0 52px;
}

.login_form {
    width: 100%;
}
.login_label{
    font-family: Arial;
    font-weight: bold;
    font-size: 17px;
}

.username_form {
    width: 460px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 15px;
    font-size: 15px;
    padding: 15px;
    margin-top: 20px;
}

.password_form {
    width: 460px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 15px;
    font-size: 15px;
    padding: 15px;
    margin-top: 10px;
}

.submit_button {
    background-color: #1877f2;
    border: none;
    border-radius: 25px;
    font-size: 15px;
    color: white;
    padding: 15px;
    margin-top: 20px;
    width: 100%;
}

.submit_button:disabled {
    background-color: rgba(24, 119, 242, 0.5);
}


.forgot_password_link {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
    padding: 15px;
}

.forgot_password_link:hover {
    background-color: rgb(228, 228, 228);
}

.facebook_button {
    border: 1px solid rgb(228, 228, 228);
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    font-size: 14px;
    width: 100%;
    background-color: white;
}

.facebook_button:hover {
    background-color: rgb(228, 228, 228);
}

.new_acc_button {
    border: 1px solid #1877f2;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
    background-color: white;
    color: #1877f2;
}

.new_acc_button:hover {
    background-color: rgb(228, 228, 228);
}

.meta_pic {
    margin: 15px 220px 0px 220px;
}


.gradient_text {
    background: linear-gradient(
    45deg,
    #f58529,
    #dd2a7b,
    #8134af,
    #515bd4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.foot {
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.foot li {
    display: inline;
    padding-right: 12px;
}


.foot_1st_line {
    width: 1300px;
    font-size: 10px;
    text-align: center;
    margin: 20px;
}

.foot a{
    color: rgb(173, 173, 175);
    font-size: 12px;
    text-decoration: none;
}

.foot a:hover {
    text-decoration: underline;
}

.foot_2nd_line {
    font-size: 12px;
    text-align: center;
    color: rgb(173, 173, 175);
}

#languages {
    font-size: 12px;
    color: rgb(173, 173, 175);
    border: none;
}
